<a href="https://colab.research.google.com/github/AarifSheikh-78603/Internship-2024-25/blob/main/Essential%20Python%20for%20Data%20Analyst%20-%20Python%20Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Operators

# Arithmetic Operators

In [1]:
# Addition (+) Operator
print(10+20)

30

In [2]:
# Subtraction (-) Operator
print(10-20)

-10

In [3]:
# Multiplication (*) Operator
print(10*20)

200

In [4]:
# Division (/) Operator
print(10/20)

0.5

In [5]:
# Exponent (**) Operator
print(10**20)

100000000000000000000

In [6]:
# Modulus (%) Operator
print(10%20)

10

In [7]:
# Floor Division (//) Operator
print(10//20)

0

Example on Arithmetic Operators

In [8]:
# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying the results
print("\nResults of Arithmetic Operations:")
print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")
print(f"Floor Division: {floor_division}")
print(f"Modulus: {modulus}")
print(f"Exponentiation: {exponentiation}")

Enter the first number: 5
Enter the second number: 7

Results of Arithmetic Operations:
Addition: 12.0
Subtraction: -2.0
Multiplication: 35.0
Division: 0.7142857142857143
Floor Division: 0.0
Modulus: 5.0
Exponentiation: 78125.0

# Assignment Operators

In [9]:
# Initializing a variable
a = 10
print("Initial value of a:", a)

# Using assignment operators
a += 5  # Equivalent to a = a + 5
print("After a += 5, value of a:", a)

a -= 3  # Equivalent to a = a - 3
print("After a -= 3, value of a:", a)

a *= 2  # Equivalent to a = a * 2
print("After a *= 2, value of a:", a)

a /= 4  # Equivalent to a = a / 4
print("After a /= 4, value of a:", a)

a //= 2  # Equivalent to a = a // 2
print("After a //= 2, value of a:", a)

a %= 3  # Equivalent to a = a % 3
print("After a %= 3, value of a:", a)

a **= 3  # Equivalent to a = a ** 3
print("After a **= 3, value of a:", a)

Initial value of a: 10
After a += 5, value of a: 15
After a -= 3, value of a: 12
After a *= 2, value of a: 24
After a /= 4, value of a: 6.0
After a //= 2, value of a: 3.0
After a %= 3, value of a: 0.0
After a **= 3, value of a: 0.0

# Relational or Comparision Operators

In [10]:
# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Using relational operators
equal = num1 == num2
not_equal = num1 != num2
greater_than = num1 > num2
less_than = num1 < num2
greater_than_or_equal = num1 >= num2
less_than_or_equal = num1 <= num2

# Displaying the results
print("\nResults of Relational Operations:")
print(f"{num1} == {num2}: {equal}")
print(f"{num1} != {num2}: {not_equal}")
print(f"{num1} > {num2}: {greater_than}")
print(f"{num1} < {num2}: {less_than}")
print(f"{num1} >= {num2}: {greater_than_or_equal}")
print(f"{num1} <= {num2}: {less_than_or_equal}")

Enter the first number: 7
Enter the second number: 8

Results of Relational Operations:
7.0 == 8.0: False
7.0 != 8.0: True
7.0 > 8.0: False
7.0 < 8.0: True
7.0 >= 8.0: False
7.0 <= 8.0: True

# Logical Operators

In [11]:
# Taking input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Using logical operators
and_result = (num1 < num2) and (num2 < num3)
or_result = (num1 < num2) or (num2 > num3)
not_result = not (num1 < num2)

# Displaying the results
print("\nResults of Logical Operations:")
print(f"({num1} < {num2}) and ({num2} < {num3}): {and_result}")
print(f"({num1} < {num2}) or ({num2} > {num3}): {or_result}")
print(f"not ({num1} < {num2}): {not_result}")

Enter the first number: 8
Enter the second number: 9
Enter the third number: 5

Results of Logical Operations:
(8.0 < 9.0) and (9.0 < 5.0): False
(8.0 < 9.0) or (9.0 > 5.0): True
not (8.0 < 9.0): False

# Bitwise Operators

In [13]:
# Taking input from the user
num1 = int(input("Enter the first integer: "))
num2 = int(input("Enter the second integer: "))

# Performing bitwise operations
bitwise_and = num1 & num2
bitwise_or = num1 | num2
bitwise_xor = num1 ^ num2
bitwise_not_num1 = ~num1
bitwise_not_num2 = ~num2
left_shift = num1 << 2  # Shifting bits of num1 to the left by 2 positions
right_shift = num1 >> 2 # Shifting bits of num1 to the right by 2 positions

# Displaying the results
print("\nResults of Bitwise Operations:")
print(f"{num1} & {num2} = {bitwise_and}")
print(f"{num1} | {num2} = {bitwise_or}")
print(f"{num1} ^ {num2} = {bitwise_xor}")
print(f"~{num1} = {bitwise_not_num1}")
print(f"~{num2} = {bitwise_not_num2}")
print(f"{num1} << 2 = {left_shift}")
print(f"{num1} >> 2 = {right_shift}")

Enter the first integer: 6
Enter the second integer: 5

Results of Bitwise Operations:
6 & 5 = 4
6 | 5 = 7
6 ^ 5 = 3
~6 = -7
~5 = -6
6 << 2 = 24
6 >> 2 = 1

# Membership Operators

In [14]:
# Sample sequences
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_string = "Hello, world!"
my_set = {10, 20, 30, 40, 50}

# Testing membership
list_check = 3 in my_list
tuple_check = 'banana' in my_tuple
string_check = 'world' in my_string
set_check = 25 not in my_set

# Displaying the results
print("Membership Operator Results:")
print(f"Is 3 in my_list? {list_check}")
print(f"Is 'banana' in my_tuple? {tuple_check}")
print(f"Is 'world' in my_string? {string_check}")
print(f"Is 25 not in my_set? {set_check}")

Membership Operator Results:
Is 3 in my_list? True
Is 'banana' in my_tuple? True
Is 'world' in my_string? True
Is 25 not in my_set? True

# Python Control Flow

# If Statement

In [15]:
# Taking input from the user
number = int(input("Enter a number: "))

# Using a single if statement to check if the number is positive
if number > 0:
    print("The number is positive.")

Enter a number: 6
The number is positive.

# If-Else Statement

In [16]:
# Taking input from the user
number = int(input("Enter a number: "))

# Using a single if statement to check if the number is positive
if number > 0:
    print("The number is positive.")
else:
    print("The number is negative.")

Enter a number: 6
The number is positive.

# Nested If Statement

In [25]:
# Taking input from the user
age = int(input("Enter your age: "))
has_parental_permission = input("Do you have parental permission (yes/no)? ").strip().lower()

# Using nested if statements to determine eligibility
if age >= 18:
    print("You are an adult.")
else:
    if has_parental_permission == 'yes':
        print("You are a minor, but you have parental permission.")
    else:
        print("You are a minor and need parental permission to proceed.")

Enter your age: 18
Do you have parental permission (yes/no)? yes
You are an adult.

# Multi-way If-Elif-Else Statement

In [19]:
# Taking input from the user
score = int(input("Enter your score (0-100): "))

# Using if, elif, and else to determine grade
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your score (0-100): 67
Grade: D

# Looping In Python

# While Loop

In [21]:
# Initialize a counter
counter = 0

# Using a while loop to count from 0 to 4
while counter < 5:
    print("Counter value:", counter)
    counter += 1  # Increment the counter

Counter value: 0
Counter value: 1
Counter value: 2
Counter value: 3
Counter value: 4

# For Loop

In [23]:
# Define a list of animals
animals = ["cat", "dog", "rabbit"]

# Using a for loop with enumerate to get index and value
for index, animal in enumerate(animals):
    print(f"Index: {index}, Animal: {animal}")

Index: 0, Animal: cat
Index: 1, Animal: dog
Index: 2, Animal: rabbit

# Nested For & While Loop

In [22]:
# Define the size of the pattern
size = 5

# Generate a pattern using a for loop and a while loop
for i in range(size):
    j = 0
    while j <= i:
        print('*', end=' ')
        j += 1
    print()  # New line after each row

*
* *
* * *
* * * *
* * * * *